html {
    background-color: #EAEAF0;
    font-family: 'Vollkorn', serif;
}

body {
    line-height: 145%;
    color: #444444;
    font-size: 1.2em;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

div.content h1, h2, h3 {
    color: #999999;
}

/* content block */
div.content {
    background-color: #FCFCFC;
    width: 30em;
    margin: auto;
    padding: 2em;
    box-shadow: 2px 2px 2px #8899BB;
}

/* links */
div.content a {
    color: #336699;
    text-decoration: none;
}

a:hover {
    color: #DDDDDD;
}

/* navbar */
nav ul {
    padding: 0;
}

nav li {
    display: inline;
}
nav li:before {
    font-size: .75em;
    content: "  \2736  ";
    color: #CC6666;
}
nav li:first-child:before {
    content: "";
}


/* small text elements */
span.small-text {
    font-size: .75em;
}

/* images */
img {
    display:block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* youtube */
iframe {
    width: 100%;
}

/* horizontal rule */
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,50,100,0.2);
    border-bottom: 1px solid rgba(160,200,255,0.5);
}

/* footer */
footer {
    font-size: 0.75em;
    color: #666666;
}