<!DOCTYPE html>

<html>
  <head>
  <meta charset="utf-8"/>
  <title>{title}</title>
  <link rel="stylesheet" type="text/css" href="/static/blog.css">
  <link rel="icon" type="image/png" href="/static/img/favicon.png" sizes="16x16">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js"></script>
  <script type="text/javascript" src="/static/blog.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="content">
        <script>
          // if we have JS then hide until we can render markdown to avoid flashing
          document.getElementById("content").style = "display: none";
        </script>
        <pre id="md-src">{md_src}</pre>
      </div>
      <a href="/blog">archive</a>
    </div>
  </body>
</html>
