{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}

<link rel="stylesheet" type="text/css" href="theme/css/index.css"/>
<script type="text/javascript" src="theme/js/masonry.pkgd.min.js"></script>

<div id="post-list">
{% for article in articles_page.object_list %}
  <div class="item">
  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">
    <img src="{{ SITEURL }}/images/{{ article.slug }}/{{ article.cover }}"/>
  </a>
    <div class="text">{{ article.title|striptags|upper }} </div>
  </div>
{% endfor %}
</div><!-- /#post-list -->

<!-- initialize after post-list is made -->
<script type="text/javascript" src="theme/js/index.js"></script>

{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
