{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<!-- <h2>All articles</h2> -->
{% endblock %}
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css" />
<section id="post-list">
{% for article in articles_page.object_list %}
  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
    <img src="images/{{ article.slug }}/{{ article.cover }}"/>
  </a>
{% endfor %}
</section><!-- /#posts-list -->
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
