img {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    align:middle;
}

iframe {
    align: middle;
}


.img-wrapper {
    width: 100%;
    margin: 1.5em;
}

.caption {
    font-size: small;
    text-align: center
}
