#post-list {
    line-height: 0;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}


#post-list img {
    width: 100% !important;
    height: auto !important;
    opacity: 0.5;
    -moz-backface-visibility: hidden;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#post-list img:hover {
    opacity: 1.0;
    -moz-backface-visibility: hidden;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#post-list .text {
    font-family: 'Source Sans Pro', sans-serif; font-weight:400;
    position: relative;
    bottom: 30px;
    /* left: 30px; */
    /* display: inline-block; */
    text-overflow: ellipsis;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    opacity: 0;
    word-wrap: break-word;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}


#post-list .image-wrapper:hover .text {
    visibility: visible;
    opacity: 0.8;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}