html, body {
    background: #CCCCCC;
    margin: 5% 10% 5% 10%;
    font-size: 1.5vw;
    color: #333333;
    line-height:180%;
}

h1 {font-size: 2.4vw;}
h2 {font-size: 2.1w;}
h3 {font-size: 1.8vw;}

#banner h1 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif; font-weight:700;
    font-size: 4vw;
}

a {
    color: #662233;
    text-decoration: none;
}

a:hover {
    color: #773344;
}

footer {
    font-size: 1vw;
}