html, body {
    background: #CCCCCC;
    margin: 5% 10% 5% 10%;
}

#banner {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif; font-weight:700;
    font-size: 30px;
}

#banner a {
    color: #222244;
    text-decoration: none;
}

#banner a:hover {
    color: #333355;
}